# Delphi/RAD Studio/BDS

*.dcu
*.dcp
*.dres
*.local
*.~*
*.stat
*.identcache
*.tvsconfig

*.obj
*.hpp
*.tmp
*.bak
*.log
*.map
*.tvsconfig
*.dsk
*.dproj.local
*.dproj.user
*.groupproj.local
*.groupproj.user

__history/
__recovery/
Win32/Debug/
Win32/Release/
Win64/Debug/
Win64/Release/
OSX32/Debug/
OSX32/Release/
Linux64/Debug/
Linux64/Release/
Android/Debug/
Android/Release/
iOSSimulator/Debug/
iOSSimulator/Release/
iOSDevice/Debug/
iOSDevice/Release/
build/

*.exe
*.dll
*.bpl
*.ocx
*.so
*.apk
*.ipa

*.svg
*.xcf
*.psd

*.db
*.sqlite
*.sqlite-journal

# Config and backup files
*.cfg
*.bdsproj
*.dproj.bak
*.rsm
*.exp

# Installers/Output
*.msi

# Delphi IDE state files
*.layout
*.dsm

# FastReport, DevExpress, etc.
*.fr3
*.xfm

# Misc
*.DS_Store
Thumbs.db
